# Ignored folders
/.vs/*
# .vs/*
packages/*
/**/bin/
/**/obj/
CryptoWatcher/bin/Debug/*
CryptoWatcher/obj/*
UpdateCreator/bin/*
UpdateCreator/obj/*
CryptoWatchSetup/bin/Debug/*
CryptoWatchSetup/obj/*

